@import url(./__image/card__image.css);
@import url(./__delete-icon/card__delete-icon.css);
@import url(./__description/card__description.css);
@import url(./__name/card__name.css);
@import url(./__like-container/card__like-container.css);
@import url(./__like-icon/card__like-icon.css);
@import url(./__like-counter/card__like-counter.css);

.card {
  width: 282px;
  background-color: #fff;
  border-radius: 10px;
  min-height: 360px;
}
